---
 title: "Viewport Grid Example Sample"
 class: examples
 layout: html.hbs
 ---
 <!-- D E M O -->
 <div class="grid-container grid-example leader-1">
     <div class="column-24"><span>24</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
     <div class="column-1"><span>1</span></div>
 </div>

 <div class="grid-container leader-1">
   <div class="column-14 pre-3">
     <div class="content-area">
       {{md 'site/source/copy/columns.md'}}
     </div>
   </div>
 </div>

 <div class="grid-container grid-example leader-1">
     <div class="column-1"><span>1</span></div>
     <div class="column-23"><span>.column-23</span></div>
     <div class="column-2"><span>2</span></div>
     <div class="column-22"><span>.column-22</span></div>
     <div class="column-3"><span>3</span></div>
     <div class="column-21"><span>.column-21</span></div>
     <div class="column-4"><span>4</span></div>
     <div class="column-20"><span>.column-20</span></div>
     <div class="column-5"><span>.column-5</span></div>
     <div class="column-19"><span>.column-19</span></div>
     <div class="column-6"><span>.column-6</span></div>
     <div class="column-18"><span>.column-18</span></div>
     <div class="column-7"><span>.column-7</span></div>
     <div class="column-17"><span>.column-17</span></div>
     <div class="column-8"><span>.column-8</span></div>
     <div class="column-16"><span>.column-16</span></div>
     <div class="column-9"><span>.column-9</span></div>
     <div class="column-15"><span>.column-15</span></div>
     <div class="column-10"><span>.column-10</span></div>
     <div class="column-14"><span>.column-14</span></div>
     <div class="column-11"><span>.column-11</span></div>
     <div class="column-13"><span>.column-13</span></div>
     <div class="column-12"><span>.column-12</span></div>
     <div class="column-12"><span>.column-12</span></div>
 </div>

 <div class="grid-container leader-5">
   <div class="column-14 pre-3">
     <div class="content-area">
       {{md 'site/source/copy/responsive-columns.md'}}
     </div>
   </div>
 </div>

 <div class="grid-container grid-example leader-1">
  <div class="column-24">
     <div class="column-1 medium-column-4 small-column-1">
       <span class="medium-hide">1</span>
       <span class="medium-only">.medium-column-4</span>
       <span class="small-show">.small-column-1</span>
     </div>
     <div class="column-23 medium-column-8 small-column-5">
       <span class="medium-hide">.column-23</span>
       <span class="medium-only">.medium-column-8</span>
       <span class="small-show">.small-column-5</span>
     </div>
   </div>

   <div class="column-24">
     <div class="column-2 medium-column-8 small-column-5">
       <span class="medium-hide">2</span>
       <span class="medium-only">.medium-column-8</span>
       <span class="small-show">.small-column-5</span>
     </div>
     <div class="column-22 medium-column-4 small-column-1">
       <span class="medium-hide">.column-22</span>
       <span class="medium-only">.medium-column-4</span>
       <span class="small-show">.small-column-1</span>
     </div>
   </div>

   <div class="column-24">
     <div class="column-3 medium-column-5 small-column-2">
       <span class="medium-hide">.column-3</span>
       <span class="medium-only">.medium-5</span>
       <span class="small-show">.small-column-2</span>
     </div>
     <div class="column-21 medium-column-7 small-column-4">
       <span class="medium-hide">.column-21</span>
       <span class="medium-only">.medium-7</span>
       <span class="small-show">.small-column-4</span>
     </div>
   </div>

   <div class="column-24">
     <div class="column-4 medium-column-7 small-column-4">
       <span class="medium-hide">.column-4</span>
       <span class="medium-only">.medium-7</span>
       <span class="small-show">.small-column-4</span>
     </div>
     <div class="column-20 medium-column-5 small-column-2">
       <span class="medium-hide">.column-20</span>
       <span class="medium-only">.medium-5</span>
       <span class="small-show">.small-column-2</span>
     </div>
   </div>

   <div class="column-24">
     <div class="column-5 medium-column-6 small-column-3">
       <span class="medium-hide">.column-5</span>
       <span class="medium-only">.medium-6</span>
       <span class="small-show">.small-column-3</span>
     </div>
     <div class="column-19 medium-column-6 small-column-3">
       <span class="medium-hide">.column-19</span>
       <span class="medium-only">.medium-6</span>
       <span class="small-show">.small-column-3</span>
     </div>
   </div>

   <div class="column-24">
     <div class="column-6 medium-column-6 small-column-3">
       <span class="medium-hide">.column-6</span>
       <span class="medium-only">.medium-6</span>
       <span class="small-show">.small-column-3</span>
     </div>
     <div class="column-18 column-6 medium-column-6 small-column-3">
       <span class="medium-hide">.column-18</span>
       <span class="medium-only">.medium-6</span>
       <span class="small-show">.small-column-3</span>
     </div>
   </div>
 </div>

 <div class="grid-container leader-5">
   <div class="column-14 pre-3">
     <div class="content-area">
       {{md 'site/source/copy/nested-columns.md'}}
     </div>
   </div>
 </div>

 <div class="grid-container grid-example nested-demo leader-1">
 <div class="column-18 medium-column-8">
     <span class='medium-hide'>.column-18</span>
     <span class='medium-show'>.medium-column-8</span>

     <div class="column-4 medium-column-4">
       <span class='medium-hide'>.column-4</span>
       <span class='medium-show'>.medium-column-4</span>

       <div class="column-1 medium-column-4"><span class='medium-hide'>1</span>
         <span class='medium-show'>.medium-column-4</span></div>
      <div class="column-1 medium-column-4 medium-first-column"><span class='medium-hide'>1</span>
         <span class='medium-show'>.medium-column-4</span></div>
      <div class="column-1 medium-column-4 medium-first-column"><span class='medium-hide'>1</span>
         <span class='medium-show'>.medium-column-4</span></div>
      <div class="column-1 medium-column-4 medium-first-column"><span class='medium-hide'>1</span>
         <span class='medium-show'>.medium-column-4</span></div>
     </div>

    <div class="column-2 medium-column-4 medium-last-column small-first-column"><span class='ablet-hide'>2</span>
       <span class='medium-show'>.medium-column-4</span></div>

     <div class="column-10 medium-column-8 medium-first-column">
       <span class='medium-hide'>10</span>
       <span class='medium-show'>.medium-column-8</span>
       <div class="column-5 medium-column-4">
         <span class='medium-hide'>.column-5</span>
         <span class='medium-show'>.medium-column-4</span>
       </div>
       <div class="column-5 medium-column-4 small-first-column">
         <span class='medium-hide'>.column-5</span>
         <span class='medium-show'>.medium-column-4</span>
         <div class="column-2 medium-column-4 small-first-column">
           <span class='medium-hide'>2</span>
           <span class='medium-show'>.medium-column-4</span>
         </div>
         <div class="column-3 medium-column-4 medium-first-column small-first-column">
           <span class='medium-hide'>.column-3</span>
           <span class='medium-show'>.medium-column-4</span>
         </div>

       </div>
     </div>

    <div class="column-1 medium-column-4 medium-first-column"><span class='medium-hide'>1</span>
       <span class='medium-show'>.medium-column-4</span></div>
    <div class="column-1 medium-column-5 medium-first-column"><span class='medium-hide'>1</span>
       <span class='medium-show'>.medium-column-5</span></div>
   </div>

   <div class="column-6 medium-column-4">
     <span class='medium-hide'>.column-6</span>
     <span class='medium-show'>.medium-column-4</span>

     <div class="column-6 medium-column-4">
       <span class='medium-hide'>.column-6</span>
       <span class='medium-show'>.medium-column-4</span>
       <div class="column-4 medium-column-2"><span class='medium-hide'>.column-4</span>
         <span class='medium-show'>.medium-column-2</span></div>
       <div class="column-2 medium-column-2"><span class='medium-hide'>2</span>
         <span class='medium-show'>.medium-column-2</span></div>
     </div>

    <div class="column-4 medium-column-4 first-column medium-first-column"><span class='ablet-hide'>.column-4</span>
       <span class='medium-show'>.medium-column-4</span></div>
   </div>
 </div>


 <div class="grid-container leader-5">
   <div class="column-14 pre-3">
     <div class="content-area">
       {{md 'site/source/copy/columns-as-row.md'}}
     </div>
   </div>
 </div>

 <div class="grid-container grid-example leader-1">
  <div class="column-2"><span>.column-2 With a lot of content, so it pushes down.</span></div>
   <div class="column-22"><span>.column-22</span></div>
   <div class="column-4"><span>.column-4</span></div>
   <div class="column-4"><span>.column-4</span></div>
   <div class="column-4"><span>.column-4</span></div>

   <div class="column-24">
    <div class="column-2"><span>.column-2 With a lot of content, so it pushes down.</span></div>
     <div class="column-22 medium-first-column"><span>.column-22</span></div>
   </div>
   <div class="column-4"><span>.column-4</span></div>
   <div class="column-4"><span>.column-4</span></div>
   <div class="column-4"><span>.column-4</span></div>
 </div>

 <!-- <div class="grid-container leader-5">
   <div class="column-14 pre-3">
     <div class="content-area">
       {{md 'site/source/copy/nested-column-rows.md'}}
     </div>
   </div>
 </div> -->

 <!-- D E M O -->

 <div class="grid-container leader-5">
   <div class="column-14 pre-3">
     <div class="content-area">
       {{md 'site/source/copy/pre-post.md'}}
     </div>
   </div>
 </div>

 <div class="grid-container grid-example leader-1">
   <!-- PRE -->
   <div class="column-24">
     <div class="column-4 pre-2"><span>4 pre-2</span></div>
     <div class="column-4 pre-3"><span>4 pre-3</span></div>
     <div class="column-4 pre-4"><span>4 pre-4</span></div>
   </div>
   <!-- POST -->
   <div class="column-24">
     <div class="column-4 post-2"><span>4 post-2</span></div>
     <div class="column-4 post-3"><span>4 post-3</span></div>
     <div class="column-4 post-4"><span>4 post-4</span></div>
     <div class="column-3"><span>3</span></div>
   </div>
   <!-- COMBO -->
   <div class="column-24 trailer-5">
     <div class="column-1"><span>1</span></div>
     <div class="column-4 pre-1 post-2"><span>4 pre-1 post-2</span></div>
     <div class="column-4 pre-2 post-2"><span>4 pre-2 post-2</span></div>
     <div class="column-4 pre-1 post-2"><span>4 pre-1 post-2</span></div>
     <div class="column-1"><span>1</span></div>
   </div>
 </div>