<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>VW Grid</title>
  <meta name="description" content="The Viewport Grid">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{assets}}css/viewport-grid.css">
  <link rel="stylesheet" href="{{assets}}css/style.css">
</head>
<body>
  <div class="gridlines">
    <div class="grid-container">
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
      <div class="column-1"><span></span></div>
    </div>
  </div>

  <div class="grid-container">
    <div class="column-24">
    <nav class="column-6 pre-9 medium-pre-3 small-pre-0 post-1 leader-1 extra-large-leader-2 extra-large-trailer-2 extra-large-pre-13">
      <a class="main-link index-link" href="{{assets}}">Viewport Grid</a>
      <div class="subnav">
        <div class="column-6">
          <div class="column-3">
            <div class="hamburger-container">
              <a class="hamburger-link" href="{{assets}}examples/">examples</a>
            </div>
          </div>
          <div class="column-3">
            <div class="current-container">
              <a href="https://github.com/esripdx/viewport-grid" class="main-link">github</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    </div>
  </div>


        <!-- <ul > -->
          <!-- <li><a class="main-link" href="{{assets}}">Viewport Grid</a></li> -->
          <!-- <li><a class="main-link" href="{{assets}}examples/">ex.</a></li> -->
          <!-- <li><a class="main-link" href="{{assets}}reference/">Reference</a></li> -->
          <!-- <li><a class="main-link" href="https://github.com/esripdx/viewport-grid">Github</a></li> -->
        <!-- </ul> -->