<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Harness</title>
  <meta name="description" content="The Harness CSS Framework">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{assets}}css/viewport-grid.css">
  <link rel="stylesheet" href="{{assets}}css/style.css">
</head>
<body>
  <div class="container">
    <div class="column-24">
      <a href="{{assets}}"><h1>Viewport Grid</h1></a>
      <a href="{{assets}}examples/">Examples</a>
      <a href="{{assets}}reference/">Reference</a>
    </div>
  </div>
